
.point_options {
  position: fixed;
  bottom: 0;
  left: 50%;

  transform: translateY(110%);
  transition: transform 0.3s;
  transition-timing-function: ease-in;
}

.point_options.point_options-opened {
  transform: translateY(0);
  transition-timing-function: ease-out;
}

.point_options button {

  padding: 6px 12px;

  border: none;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background-color: white;

  transform: translateX(-50%);
}

.point_options form {
  display: flex;
  padding: 14px 40px;
  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  background-color: white;
  transform: translateX(-50%);
}

.point_options label {
  position: relative;
}

.point_options label:not(:last-child) {
  margin-right: 40px;
}

.point_options input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.point_options input:checked ~.option::after {
  transform: scale(0);
}

.option {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  border: 3px solid white;
  border-radius: 50%;
}

.option::after {
  content: '';
  position: absolute;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.option[data-type="1"]::after {
  background-color: red;
}

.option[data-type="2"]::after {
  background-color: yellow;
}

.option[data-type="3"]::after {
  background-color: blue;
}

.option[data-type="4"]::after {
  background-color: green;
}